<html>
  <head>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
     <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
     <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
     <style>
       body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
       }
       #mapid {
        height: 100%;
        width: 100%;
       }
       .date {
         position: absolute;
        left: 60px;
        top: 10px;
        z-index: 999;
        background: #fff;
        padding: 10px;
        border-radius: 5px; 
      }
      </style>
  </head>
  <body>
     <div class="date"></div>
     <div id="mapid"></div>
   </body>
  <script>
    var mymap = L.map('mapid').setView([23, 120.2], 13);

    var googleStreet =  new L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
      maxZoom: 20,
      subdomains:['mt0','mt1','mt2','mt3']
    });
    var googleHybrid = new L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
          maxZoom: 20,
          subdomains:['mt0','mt1','mt2','mt3']
    });

    //googleHybrid.addTo(mymap);
    googleStreet.addTo(mymap);
    L.control.layers({
      //"地球": googleHybrid,
      "地圖": googleStreet
    }).addTo(mymap);
    
    d3.json('../data/fb_place.json', function(data) {
      var count = 0;
      data.forEach(function(d) {
        if (d.location.latitude > 23.28 || d.location.latitude < 22.922)
          return;
          count += 1;
          var circle = L.circle([d.location.latitude, d.location.longitude], 10, {
              color: 'red',
              fillColor: '#f03',
              fillOpacity: 0.5
          }).addTo(mymap);
        });
      console.log(count);
    });

  </script>
</html>
